﻿@model List<MVC_Product.Models.Product>
@{
    ViewBag.Title = "فهرست";
}

<br />

@Html.ActionLink("افزودن", "Create", "Product", new { name = ""}, new { @class="btn btn-primary"})

<h2 style="font-family:'B Nazanin'">لیست محصولات</h2>
<table class="table">
    <tr>
        <th style="text-align:center;">
            @Html.DisplayNameFor(x => x.FirstOrDefault().CategoryId)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(x => x.FirstOrDefault().CompanyId)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(x => x.FirstOrDefault().ModelName)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(x => x.FirstOrDefault().Description)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="@item.Id">
            <td style="text-align:center;">
                @item.Category.Name
            </td>
            <td style="text-align:center;">
                @item.Company.PersianName
            </td>
            <td style="text-align:center;">
                @item.ModelName
            </td>
            <td style="text-align:center;">
                @item.Description
            </td>
            <td style="text-align:center;">
                @Html.ActionLink("ویرایش", "Edit", new { Id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("حذف", "Delete", new { Id = item.Id }, new { onclick = "return confirm('آیا از حذف محصول مطمئنید؟')", @class = "btn btn-danger" })

            </td>
        </tr>
    }
</table>
